{{ ansible_managed | comment }}

gpu_mem={{ rpi_gpu_mem }}
{{ rpi_config_params }}

[all]
{% if not rpi_wifi %}
dtoverlay=pi3-disable-wifi
dtoverlay=disable-wifi
{% endif %}
{% if not rpi_bt %}
dtoverlay=pi3-disable-bt
dtoverlay=disable-bt
{% endif %}

dtoverlay=rpi-poe
{% for setpoint in rpi_fan %}
dtparam=poe_fan_temp{{ loop.index0 }}={{ setpoint.temp }},poe_fan_temp{{ loop.index0 }}_hyst={{ setpoint.hyst }}
{% endfor %}

# In theory this should help with unstable PoE HATs
max_usb_current=1

[pi4]
dtoverlay=vc4-fkms-v3d
max_framebuffers=2
